h1
{
text-align: center;
color: orange;
font-family: Broadway;
}
p
{
font-size:20px;
color: white;
font-family:Century Gothic ;
}
img{
display: block;
margin: auto;
}
li{ 
color: white;
font-family:Century Gothic ;
}
