h1
{
text-align: center;
color: orange;
font-family: Monotype Corsiva;
}
h3
{
color: yellow;
font-family: Viner Hand ITC;
}
p
{
color: white;
font-family: Lucida Calligraphy;
}
img{
display: block;
margin: auto;
}
li{ 
color: white;
font-family: Lucida Calligraphy;
}